.login{
   display: flex;
   align-items: center;
   justify-content: center;
   align-content: center;
   flex-direction: column;
}

.form{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.input{
   width: 200px;
   height: 30px;
   margin: 10px;
}

.button{
   width: 200px;
   height: 30px;
   border: none;
   background-color: #00bcd4;
   color: #fff;
   font-weight: bold;
   cursor: pointer;
}

/* span{
   font-size: 12px;
   color: red;
   margin-top: 1px;
} */

.text-field{
   background-color: #fff;
   color: red !important;
   font-weight: bold;
   cursor: pointer;
}

.text{
   color: white !important;
}

